<main class="main">
  <div class="content">
    <div class="centered">

      <div *ngIf="results === true" class="centered">
        <img class="robot" src="../assets/robot-happy-icon-original.svg" alt="a clipart of a happy robot">
        <h1 >Correct!🎉</h1>
      </div>
      <div *ngIf="results === false"  class="centered">
        <img class="robot" src="../assets/robot-dead-icon-original.svg" alt="a clipart of a dead robot">
        <h1 >Wrong😟</h1>
      </div>
      <div *ngIf="results === null"  class="centered">
        <img class="robot" src="../assets/robot-icon-original.svg" alt="clip art of a robot">
        <h1>Am I a Robot?</h1>
      </div>

      <button mat-button *ngIf="!startGameClicked && !resultsShowing"
        (click)="startGame()"><mat-icon>play_circle_outline</mat-icon>Start Game</button>
      <div class="centered" *ngIf="startGameClicked">
        <mat-spinner style="width: 10px;" *ngIf="paragraphText == ''"></mat-spinner>
        <div class="centered" *ngIf="paragraphText != ''">
          <p>{{ paragraphText }}</p>
          <div class="buttons">
            <button class="green" mat-button (click)="get_result('ai')">Yes</button>
            <button class="red" mat-button (click)="get_result('wiki')">No</button>
          </div>
        </div>
      </div>
      <div class="centered" *ngIf="resultsShowing">

        <div class="centered">
          <h3>Total correct guesses: {{ stats.correct_guesses }}</h3>
          <h3>Total wrong guesses: {{ stats.wrong_guesses }}</h3>
        </div>
        <button mat-fab extended (click)="reset()"><mat-icon>replay</mat-icon>Retry</button>

      </div>
    </div>
  </div>

</main>